<!DOCTYPE html>
<html>
  <head>
    <title>Simple Login</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section>
      <header>
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="collapse navbar-collapse" id="">
            <ul class="navbar-nav ml-auto">
              <% binding.pry %>
                <li class="nav-item">
                  <%= link_to "Register", "#", :class=>"nav-font" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Customer list', "#", :class=>"nav-font" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Add Customer', customers_create_path, :class=>"nav-font" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Add Address", "#", :class=>"nav-font" %>
                </li>
                <!-- <li class="nav-item dropdown"> -->
                  <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown"> -->
                    <%#= link_to "Profile", employee_path(current_user.id), :class=>"dropdown-item nav-font" %>                
                    <!-- <div class="dropdown-divider"></div> -->
                    <%#= link_to "Logout" ,logout_path, method:"delete", :class=>"dropdown-item nav-font" %>
                  <!-- </div> -->
                <!-- </li> -->
                <li class="nav-item">
                  <%= link_to login_path do %>
                    <!-- <span class="nav-font">Login</span> -->
                  <% end %>
                </li>
            </ul>
          </div>
        </nav>
      </header>
    </section>
    <%= yield %>
  </body>
</html>
