<!DOCTYPE html>
<html>
  <head>
    <title>Simple Login</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section>
      <header>
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="collapse navbar-collapse" id="">
            <ul class="navbar-nav ml-auto">
              <% if current_user %>
                <li class="nav-item">
                  <%= link_to "Register", "#", :class=>"nav-font" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Customer list', customers_index_path, :class=>"nav-font" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Add Customer', customers_new_path, :class=>"nav-font" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Delete customer", "#", :class=>"nav-font" %>
                </li>
                <li class="nav-item dropdown">
                  
                    <%= link_to "Logout" ,logout_path, method:"delete", :class=>"dropdown-item nav-font" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to login_path do %>
                    <span class="nav-font">Login</span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </header>
    </section>
    <%= yield %>
  </body>
</html>
